@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --bg: #0E1C36;
  --bg2: #0f1a30;
  --secondary: #29E7CD;
  --grey: #1799632a;
  --yellow: rgb(211, 197, 0);
}

*{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

@layer base{
  #web li{
    @apply lg:px-5 md:px-4 sm:px-3 px-2 hover:text-[var(--secondary)] ease-linear duration-300 cursor-pointer
  }
  #mobile-links li{
    @apply p-5 mt-3 w-full text-center shadow
  }
  #mobile-links button{
    @apply mt-8  shadow
  }
}